.searchField {
    width: 70%;
    margin:auto;
    height: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.searchResultBox {
    display: block;
    overflow: auto;
    width: 90%;
    margin:auto;
    margin-top: 10px;
}

.SearchHeading {
    margin-bottom: 12px;
    margin-left:4px;
    font-size: 24px;
    font-weight: bold;
}
.searchResult {
    height: fit-content;
    border: 1px outset rgba(125, 126, 128, 0.3);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2px 2% 2px 2%;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
}

.ResultName {
    flex: 1 1 auto;
    width: fit-content;
    text-decoration: none;
    font-size: calc(8px + 0.4vw);
}
#SearchLinks {
    text-decoration: none;
}
#SearchLinks:nth-child(odd) > .searchResult {
    background-color: rgb(243, 243, 243);
}
#SearchLinks:nth-child(even) > .searchResult {
    background-color: rgb(255, 255, 255);
}
.ResultAddress {
    flex: 1 1 auto;
    text-align: right;
    width: fit-content;
    font-size: calc(8px + 0.4vw);
}

.searchPagination {
    width: fit-content;
    float: right;
}
#pageNav {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: none;
}
a {
    color: black;
}
a:hover {
    color: rgb(111, 111, 226);
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #a4c2ce;
    color: white;
}

.round {
    border-radius: 50%;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .searchField {
        width: 90%;
    }
}